@charset 'utf-8';

/* 전체설정 */
* {margin: 0; padding: 0;}
a {text-decoration: none; color: #000;}
img {border: none; vertical-align: bottom;}
ul,ol {list-style: none;}

/* 기본 설정 */
header {width: 100%; height: 120px; background-color: coral;}
.slide {width: 100%; height: 600px; background-color: aquamarine;}
.relation {width: 100%; height: 150px; background-color: cadetblue;}
.gallery {width: 100%; height: 600px; background-color: thistle;}
.infosection {width: 100%; height: 600px; background-color: yellowgreen;}
.review {width: 100%; height: 600px; background-color: slategray;}
.map {width: 100%; height: 600px; background-color: saddlebrown;}
.wrap {background-color: rgba(0, 0, 0, 0.3); height: 100%;}

/* header 설정 */
header {position: fixed; left: 0; top: 0; z-index: 9999;}
header .wrap {display: flex; justify-content: space-between;}
header .logo {width: 10%; height: 100%; background-color: antiquewhite;}
header nav {width: 80%; height: 100%; background-color: burlywood;}

/* slide 설정 */
.slide {margin-top: 120px;}
.slide .wrap {display: flex; align-items: center;}
.slide .txtBox {width: 600px; height: 400px; background-color: pink; margin-left: 100px;}

/* relation 설정 */
.relation {position: relative;}
.relation .wrap {}
.relation .form {width: 80%; height: 100%; background-color: aliceblue;}
.relation .videoBox {width: 300px; height: 200px; background-color: yellow; position: absolute; right: 5%; top: -150px;}

/* gallery 설정 */
.gallery {overflow: hidden;}
.gallery .wrap {position: relative; display: flex;}
.gallery .txtBox {width: 30%; height: 100%; background-color: aquamarine;}
.gallery .imgBox {width: 70%; height: 100%; background-color: coral; position: relative;}
.gallery ul {display: flex; flex-wrap: wrap; width: 2040px; position: absolute; left: 100px; top: 100px;}
.gallery li {width: 250px; height: 300px; background-color: crimson; margin-left: 5px; cursor: pointer; transition: all 0.5s;}
.gallery li:hover {transform: translateY(-50px);}
.gallery li.on {transform: translateY(-50px);}

/* 좌우버튼설정 _gallery, review 공통 */
.btn {position: absolute; bottom: 50px; right: 50px; display: flex;}
.btn p {width: 50px; height: 50px; background-color: blue;}
.btn .left {margin-right: 5px;}
.btn .right {}

/* infosection 설정 */
.infosection {}
.infosection .wrap {}
.infosection .titleBox {text-align: center; padding-top: 50px; box-sizing: border-box; font-size: 50px;}
.infosection .conBox {width: 80%; height: 400px; background-color: steelblue; margin-left: auto; margin-right: auto; margin-top: 20px;}
.infosection ul {width: 100%; height: 100%;}
.infosection ul::after {content: ""; display: block; clear: both;}
.infosection li {background-color: black; float: left;}
.infosection li:nth-child(1) {width: 49%; margin-right: 1%; height: 100%;}
.infosection li:nth-child(2) {width: 24.5%; margin-right: 0.5%; height: 49%;}
.infosection li:nth-child(3) {width: 24.5%; margin-right: 0.5%; height: 49%;}
.infosection li:nth-child(4) {width: 24.5%; margin-right: 0.5%; height: 49%; margin-top: 1%;}
.infosection li:nth-child(5) {width: 24.5%; margin-right: 0.5%; height: 49%; margin-top: 1%;}

/* review 설정 */
.review {position: relative; overflow: hidden;}
.review .wrap {position: relative;}
.review .titleBox {text-align: center; padding-top: 50px; box-sizing: border-box; font-size: 50px;}
.review .conBox {}
.review ul {display: flex; width: 4160px; position: absolute; left: 0; top: 50%; margin-top: -100px;}
.review li {width: 500px; height: 200px; background-color: azure; margin: 0 10px;}
.review li a {}

/* map 설정 */
.map {position: relative;}
.map iframe {width: 100%; height: 100%; opacity: 0.8;}
.map .wrap {position: absolute; width: 100%; height: 100%; left: 0; top: 0;}
.map .titleBox {text-align: center; padding-top: 50px; box-sizing: border-box; font-size: 50px;}
.map .footer {width: 100%; height: 120px; background-color: chartreuse; position: absolute; bottom: 0; left: 0;}


/* ###################################미디어쿼리구간#################################### */

/* 1280px이하일 때 */
@media(max-width:1280px){
  /* slide 설정 */
  .slide .txtBox {width: 400px; height: 300px; margin-left: 50px;}
  /* 비디오 설정 */
  .relation .form {width: 100%;}
  .relation .videoBox {top: -200px;}
}

/* 1025px이상~1279px이하일 때 */
@media(min-width:1025px) and (max-width:1279px){

}

/* 768px이상~1024px이하일 때 */
@media(min-width:768px) and (max-width:1024px){
  /* header 설정 */
  header {height: 180px;}
  header .wrap {flex-direction: column;}
  header .logo {width: 20%; text-align: center; margin: 0 auto;}/*width:20%; margin:0 auto; 로고를 이미지로 넣을 시*/
  header nav {width: 100%;}
  /* slide 설정 */
  .slide {margin-top: 180px;}
  .slide .wrap {justify-content: center;}
  .slide .txtBox {width: 60%; margin-left: 0;}/*기계가 작아질수록 수치값은 %를 사용하는 편이 낫다*/
  .relation .videoBox {display: none;}
  /* gallery 설정 */
  .gallery .wrap {flex-direction: column;}
  .gallery .txtBox {width: 100%; height: 30%;}
  .gallery .imgBox {width: 100%;}
  .gallery ul {left: 0px; top: 20%;}
  .gallery li {width: 200px; height: 250px;}
  /* review 설정 */
  .review ul {margin-top: -150px;}
  .review li {width: 300px; height: 300px;}
}

/* 661px이상~767px이하일 때 */
@media(min-width:661px) and (max-width:767px){
  /* header 설정 */
  header {height: 180px;}
  header .wrap {flex-direction: column;}
  header .logo {width: 20%; text-align: center; margin: 0 auto;}/*width:20%; margin:0 auto; 로고를 이미지로 넣을 시*/
  header nav {width: 100%;}
  /* slide 설정 */
  .slide {margin-top: 180px;}
  .slide .wrap {justify-content: center;}
  .slide .txtBox {width: 60%; margin-left: 0;}/*기계가 작아질수록 수치값은 %를 사용하는 편이 낫다*/
  .relation .videoBox {display: none;}
  /* gallery 설정 */
  .gallery .wrap {flex-direction: column;}
  .gallery .txtBox {width: 100%; height: 30%;}
  .gallery .imgBox {width: 100%;}
  .gallery ul {left: 0px; top: 20%;}
  .gallery li {width: 200px; height: 250px;}
  /* review 설정 */
  .review ul {margin-top: -150px;}
  .review li {width: 300px; height: 300px;}
  /* infosection 설정 */
  .infosection .conBox {width: 90%;}
  .infosection li:nth-child(1) {width: 100%; margin-right: 0; height: 50%;}
  .infosection li:nth-child(2) {width: 49.5%; margin-right: 0.5%; height: 24%; margin-top: 1%;}
  .infosection li:nth-child(3) {width: 49.5%; margin-right: 0.5%; height: 24%; margin-top: 1%;}
  .infosection li:nth-child(4) {width: 49.5%; margin-right: 0.5%; height: 24%; margin-top: 1%;}
  .infosection li:nth-child(5) {width: 49.5%; margin-right: 0.5%; height: 24%; margin-top: 1%;}
}

/* 421px이상~660px이하일 때 */
@media(min-width:421px) and (max-width:660px){
  /* header 설정 */
  header {height: 180px;}
  header .wrap {flex-direction: column;}
  header .logo {width: 20%; text-align: center; margin: 0 auto;}/*width:20%; margin:0 auto; 로고를 이미지로 넣을 시*/
  header nav {width: 100%;}
  /* slide 설정 */
  .slide {margin-top: 180px;}
  .slide .wrap {justify-content: center;}
  .slide .txtBox {width: 80%; margin-left: 0;}/*기계가 작아질수록 수치값은 %를 사용하는 편이 낫다*/
  .relation .videoBox {display: none;}
  /* gallery 설정 */
  .gallery .wrap {flex-direction: column;}
  .gallery .txtBox {width: 100%; height: 30%;}
  .gallery .imgBox {width: 100%;}
  .gallery ul {width: 3240px; left: 0px; top: 20%;}
  .gallery li {width: 400px; height: 250px;}
  /* review 설정 */
  .review ul {margin-top: -150px;}
  .review li {width: 400px; height: 300px;}
  /* infosection 설정 */
  .infosection .conBox {width: 90%;}
  .infosection li {display: none;}
  .infosection li:nth-child(1) {width: 100%; margin-right: 0; height: 100%; display: block;}
  .infosection li:nth-child(2) {width: 49.5%; margin-right: 0.5%; height: 24%; margin-top: 1%;}
  .infosection li:nth-child(3) {width: 49.5%; margin-right: 0.5%; height: 24%; margin-top: 1%;}
  .infosection li:nth-child(4) {width: 49.5%; margin-right: 0.5%; height: 24%;}
  .infosection li:nth-child(5) {width: 49.5%; margin-right: 0.5%; height: 24%;}
  /* 좌우버튼설정 _gallery, review 공통 */
  .btn {right: 50%; margin-right: -50.25px;}
}

/* 420px이하일 때 */
@media(max-width:420px){
  /* header 설정 */
  header {height: 180px;}
  header .wrap {flex-direction: column;}
  header .logo {width: 20%; text-align: center; margin: 0 auto;}/*width:20%; margin:0 auto; 로고를 이미지로 넣을 시*/
  header nav {width: 100%;}
  /* slide 설정 */
  .slide {margin-top: 180px;}
  .slide .wrap {justify-content: center;}
  .slide .txtBox {width: 80%; margin-left: 0;}/*기계가 작아질수록 수치값은 %를 사용하는 편이 낫다*/
  .relation .videoBox {display: none;}
  /* gallery 설정 */
  .gallery .wrap {flex-direction: column;}
  .gallery .txtBox {width: 100%; height: 30%;}
  .gallery .imgBox {width: 100%;}
  .gallery ul {width: 3240px; left: 0px; top: 20%;}
  .gallery li {width: 400px; height: 250px;}
  /* review 설정 */
  .review ul {margin-top: -150px;}
  .review li {width: 400px; height: 300px;}
  /* infosection 설정 */
  .infosection .conBox {width: 90%;}
  .infosection li {display: none;}
  .infosection li:nth-child(1) {width: 100%; margin-right: 0; height: 100%; display: block;}
  .infosection li:nth-child(2) {width: 49.5%; margin-right: 0.5%; height: 24%; margin-top: 1%;}
  .infosection li:nth-child(3) {width: 49.5%; margin-right: 0.5%; height: 24%; margin-top: 1%;}
  .infosection li:nth-child(4) {width: 49.5%; margin-right: 0.5%; height: 24%;}
  .infosection li:nth-child(5) {width: 49.5%; margin-right: 0.5%; height: 24%;}
  /* 좌우버튼설정 _gallery, review 공통 */
  .btn {right: 50%; margin-right: -50.25px;}
}

/* 1450px이상일 때 */
@media(min-width:1450px){
  .wrap {width: 1440px; margin: 0 auto;}
}