@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');
@font-face {font-family: 'twayair'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_tway@1.0/twayair.woff') format('woff'); font-weight: normal; font-style: normal;}

/* 전체 설정 */
* {margin: 0; padding: 0;}
a {text-decoration: none; color: #000;}
img {border: none; vertical-align: bottom;}
ul,ol {list-style: none;}
body {/*font-family: 'Noto Sans KR', sans-serif;*//*font-family: 'twayair';*/}

/* 기본 설정 */
header {width: 100%; height: 150px; background-color:#fff;}
.slide {width: 100%; height: 1100px; background-color:#fff;}
.display {width: 100%; height: 1620px; background-color:#888;}
.gallery {width: 100%; height: 1930px; background-color:#777;}
.program {width: 100%; height: 2080px; background-color:#666;}
.youtube {width: 100%; height: 1850px; background-color:#888;}
.notice {width: 100%; height: 1450px; background-color:#777;}
.floor {width: 100%; height: 2230px; background-color:#ccc;}
.place {width: 100%; height: 2200px; background-color:#bbb;}
footer {width: 100%; height: 300px; background-color:#aaa;}

/* .wrap {height: 100%; background-color: rgba(0, 0, 0, 0.3);} */

/* header 설정 */
header {position: fixed; left: 0; top: 0; z-index: 9999;}
header .wrap {display: flex; justify-content: space-between; align-items: center; height: 100%;}
header h1 {width: 300px; height: 100px; margin-left: 20px; background-image: url(../img/images/logo.png); background-size: contain; background-repeat: no-repeat;}
header nav {width: 90%; height: 80px; font-family: 'twayair';}
header nav ul {display: flex; justify-content: flex-end;}
header nav ul li {}
header nav ul li a {display: block; padding: 40px; font-size: 22px;}

.submenu {position: relative; font-family: 'twayair';}
.submenu ul {width: 100%; padding: 20px 0; position: absolute; left: 0; top: 0; display: flex; justify-content: flex-end; align-items: center; flex-wrap: nowrap;}
.submenu ul li {margin-right: 4%;}
.submenu ul li a {font-size: 18px;}
.submenu li:last-child {margin-right: 18%;}
.sub1 {background-color: #c7a79d; opacity: 70%; height: 40px;}
.sub2 {background-color: #c7a79d; opacity: 70%; height: 40px;}
.sub3 {background-color: #c7a79d; opacity: 70%; height: 40px;}
.sub4 {background-color: #c7a79d; opacity: 70%; height: 40px;}
.sub5 {background-color: #c7a79d; opacity: 70%; height: 40px;}

header .language img {width: 40px; height: 21%; position: absolute; right: 17%; top: 15px;}
header .vr img {width: 40px; height: 20%; position: absolute; right: 14%; top: 15px;}

/* slide 설정 */
.slide {display: flex; justify-content: center;}
.slide .img {width: 1436px; height: 820px; top: 180px; margin-top: 150px; background-color: cadetblue;}
.slide h3 {}
.slide p {}
.slide .btn {}

/* display 설정 */
.display {}
.display .wrap {position: relative;}
.display .d {width: 250px; height: 60px; left: 120px; top: 130px; position: absolute; background-color: yellowgreen;}
.display section {}
.display .d1 {width: 400px; height: 650px; top: 480px; right: 520px; position: absolute; background-color:sandybrown;}
.display .d2 {width: 250px; height: 450px; top: 580px; right: 240px; position: absolute; background-color:wheat;}
.display .d3 {width: 180px; height: 250px; top: 680px; right: 30px; position: absolute; background-color:snow;}
.display .d4 {width: 250px; height: 450px; top: 580px; left: 240px; position: absolute; background-color:wheat;}
.display .d5 {width: 180px; height: 250px; top: 680px; left: 30px; position: absolute; background-color:snow;}
.display .dtitle {}
.display .dtxt {}

/* gallery 설정 */
.gallery {}
.gallery .wrap {position: relative;}
.gallery .g {width: 250px; height: 60px; right: 120px; top: 130px; position: absolute; background-color: yellowgreen;}
.gallery .gimg {width: 1200px; height: 1130px; top: 400px; right: 120px; position: absolute; background-color: skyblue;}
.gallery .gbtn {}

/* program 설정 */
.program {}
.program .wrap {position: relative;}
.program .p {width: 250px; height: 60px; left: 120px; top: 130px; position: absolute; background-color: yellowgreen;}
.program .pimg {}

/* video 설정 */
.video {}
.video .wrap {position: relative;}
.video .v {width: 250px; height: 60px; right: 120px; top: 130px; position: absolute; background-color: yellowgreen;}
.video .vvideo {width: 1200px; height: 810px; top: 400px; right: 120px; position: absolute; background-color: thistle;}
.video .vtxt {width: 1200px; height: 300px; top: 1250px; left: 120px; position: absolute; background-color: whitesmoke;}

/* information 설정 */
.information {}
.information .wrap {position: relative;}
.information .i {width: 250px; height: 60px; left: 120px; top: 130px; position: absolute; background-color: yellowgreen;}
.information .intxt1 {width: 800px; height: 150px; left: 120px; top: 350px; position: absolute; background-color: whitesmoke;}
.information .in1 {width: 300px; height: 60px; right: 120px; top: 350px; position: absolute; background-color: whitesmoke;}
.information .intxt2 {width: 800px; height: 150px; left: 120px; top: 550px; position: absolute; background-color: whitesmoke;}
.information .in2 {width: 300px; height: 60px; right: 120px; top: 550px; position: absolute; background-color: whitesmoke;}
.information .intxt3 {width: 800px; height: 150px; left: 120px; top: 750px; position: absolute; background-color: whitesmoke;}
.information .in3 {width: 300px; height: 60px; right: 120px; top: 750px; position: absolute; background-color: whitesmoke;}
.information .intxt4 {width: 800px; height: 150px; left: 120px; top: 950px; position: absolute; background-color: whitesmoke;}
.information .in4 {width: 300px; height: 60px; right: 120px; top: 950px; position: absolute; background-color: whitesmoke;}

/* floor 설정 */
.floor {}
.floor .wrap {position: relative;}
.floor .f {width: 250px; height: 60px; right: 120px; top: 130px; position: absolute; background-color: yellowgreen;}
.floor .fimg {}
.floor .floortxt {}
.floor .B1 {}
.floor .F1 {}
.floor .F2 {}
.floor .ftxt {}
.floor .ftime {}
.floor .time {}
.floor .ftimetxt {}
.floor .fmoney {}
.floor .money {}
.floor .moneytxt {}

/* place 설정 */
.place {}
.place .wrap {position: relative;}
.place .pl {width: 250px; height: 60px; left: 120px; top: 130px; position: absolute; background-color: yellowgreen;}
.place .plmap {width: 1200px; height: 955px; top: 400px; right: 120px; position: absolute; background-color:darkgreen;}
.place .pltxt {width: 1200px; height: 400px; top: 1450px; left: 120px; position: absolute; background-color: whitesmoke;}


/* footer 설정 */
.footer {}
.footer .wrap {}



/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@미디어쿼리구간@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

/* 421px이상~660px이하일 때 */
@media(min-width:421px) and (max-width:660px) {

}

/* 661px이상~767px이하일 때 */
@media(min-width:661px) and (max-width:767px){

}

/* 768px이상~1024px이하일 때 */
@media(min-width:768px) and (max-width:1024px){

}

/* 1025px이상~1279px이하일 때 */
@media(min-width:1025px) and (max-width:1279px){

}

/* 1280px이하일 때 */
@media(max-width:1280px){
  
}

/* 1450px이상일 때 */
@media(min-width:1450px){
  .wrap {width: 1440px; margin: 0 auto;}
}